/Proyecto2/nbproject/private/
/Proyecto2FXML/nbproject/private/
/Proyecto2FXML/build/
/Proyecto2FXML/dist/
Proyecto2FXML/nbproject/build-impl.xml

Proyecto2FXML/nbproject/genfiles.properties

Proyecto2FXML/nbproject/project.properties

Proyecto2FXML/nbproject/project.xml
